@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
  --bluePrincipal: #0065fc;
  --blueHover: #deebff;
  --bgSection: #f2f2f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

main {
  max-width: 1400px;
  margin: 0 auto;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

span b {
  font-weight: 700;
}

/* HEADER */

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 61.09px;
  height: 19px;
}

header nav {
  width: 24%;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  text-align: center;
}

.menu ul li {
  padding-top: 1rem;
  border-top: 5px solid transparent;
}

.menu ul li:hover {
  cursor: pointer;
  border-top: 5px solid #0065fc;
  color: #0065fc;
}

.description,
.search,
.filtres,
.nbLogements {
  margin-top: 1.5rem;
}

.nbLogements {
  margin-bottom: 1.5rem;
}

.description h2 {
  font-weight: 700;
}

.search {
  display: flex;
}

.search button:nth-of-type(1) {
  border: 1px solid var(--bgSection);
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 1rem;
}

.search input {
  padding: 0.7rem;
  border: 1px solid var(--bgSection);
  font-weight: 700;
}

.search button:nth-of-type(2) {
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  color: #ffffff;
  font-weight: 700;
  padding: 1rem;
}

.filtres,
.search {
  margin-top: 1rem;
}

.filtres h3 {
  padding-right: 2rem;
}

.filtres,
.tags {
  display: flex;
  align-items: center;
}

.tags {
  width: 70%;
  justify-content: space-between;
}

.tag {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 1rem;
  font-weight: 700;
}

.tag i {
  color: var(--bluePrincipal);
}

.tag:nth-child(2) i {
  color: var(--bluePrincipal);
}

.tag:hover {
  cursor: pointer;
  background-color: #deebff;
}

.tag span {
  padding-left: 0.4rem;
}

.informations {
  color: #0065fc;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 3px;
}

/* SECTION */

.container-section {
  display: flex;
}

.container-section section {
  flex: 2;
}

.container-section aside {
  flex: 1;
}

.container-section button {
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: var(--bgSection);
}

.container-section section,
.container-section aside {
  background-color: var(--bgSection);
  border-radius: 2rem;
  padding: 2rem;
}

section {
  margin-right: 30px;
}

.container-section section .card {
  width: 30%;
  background-color: #ffffff;
  border-radius: 2rem;
  padding-bottom: 20px;
  margin-top: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.container-section section .card img {
  height: 150px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border: 5px solid #ffffff;
}

a {
  text-decoration: none;
  color: black;
}

.textCard .fa-solid {
  color: var(--bluePrincipal);
}

.textCard .fa-solid:last-child {
  color: var(--bgSection);
}

.card .textCard {
  padding-left: 20px;
}

.card .textCard span {
  padding: 5px 0;
  display: block;
}

.section-bloc {
  display: flex;
  justify-content: space-between;
}

.container-section section button {
  margin-top: 2rem;
}

.container-section section button:hover {
  cursor: pointer;
}

/* ASIDE */

.titleAside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPopulaire {
  background: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.cardPopulaire img {
  width: 50%;
  height: 150px;
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
}

.textCardPopulaire {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.textCardPopulaire span {
  display: block;
  margin-top: 0.4rem;
}

.noteCardPopulaire {
  color: var(--bluePrincipal);
}

.noteCardPopulaire i:last-child {
  color: var(--bgSection);
}

/* SECTION ACTIVITES */

.activites {
  width: 100%;
  margin-top: 2rem;
}

.allCardActivites {
  display: flex;
  justify-content: space-between;
}

.cardActivites {
  height: 360px;
  width: 20%;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 2px 1px 3px rgba(0.12, 0.12, 0.12, 0.12),
    1px 1px 1px 2px rgba(0.12, 0.12, 0.12, 0.12);
}

.cardActivites h3 {
  padding: 1rem;
}

.cardActivites img {
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--bgSection);
  margin-top: 2rem;
  padding: 2rem;
}

.foot h4 {
  padding-bottom: 1rem;
}

.foot ul li {
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 992px) {
  .tags {
    width: 100%;
  }

  .container-section {
    display: flex;
    flex-direction: column;
  }

  .container-section section {
    width: 100%;
    margin-bottom: 4rem;
  }

  .bloc-cardPopulaire {
    display: flex;
    justify-content: space-between;
  }

  .cardPopulaire {
    width: 32%;
  }

  .cardPopulaire img {
    height: 100%;
    width: 50%;
  }

  .titleCard {
    width: 100%;
  }

  .cardActivites {
    height: 400px;
  }
}

@media screen and (max-width: 769px) {
  .container {
    margin: 0;
    padding: 0;
  }

  header .menu {
    display: flex;
    flex-direction: column;
  }

  header nav {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .menu ul li:hover {
    border-top: none;
  }

  .menu ul li {
    width: 100%;
    border-top: none;
    font-size: 1.3rem;
    border-bottom: 0.3rem solid var(--bgSection);
    padding-bottom: 1rem;
  }

  .menu ul li:hover {
    border-bottom: 0.3rem solid #0065fc;
  }

  .description {
    width: 85%;
    line-height: 1.8rem;
    text-align: justify;
  }

  .search {
    width: 100%;
  }

  .search input {
    width: 40%;
  }

  .search button:nth-of-type(2) {
    padding: 1rem;
  }

  .container-tel {
    margin: 2rem 1rem;
  }

  .filtres {
    display: flex;
    flex-direction: column;
  }

  .filtres h3 {
    display: flex;
    align-self: flex-start;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tag {
    font-size: 0.8rem;
    width: 48%;
    padding: 0.8rem;
    margin-top: 1rem;
  }

  .nbLogements {
    margin-top: 2rem;
  }

  .container-section {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  .container-section aside,
  .container-section section {
    border-radius: 0;
    margin: 0;
    padding: 2rem;
  }

  .container-section section {
    background-color: #ffffff;
  }

  .bloc-cardPopulaire {
    display: flex;
    flex-direction: column;
  }

  .cardPopulaire {
    width: 100%;
    height: 200px;
  }

  .cardPopulaire img {
    width: 50%;
  }

  .textCardPopulaire {
    width: 50%;
  }

  .section-bloc {
    display: flex;
    flex-direction: column;
  }

  .container-section section .card {
    margin: 2rem auto;
    width: 100%;
  }

  .container-section section .card img {
    height: 200px;
  }

  .container-section section button {
    display: none;
  }

  .allCardActivites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activites h2 {
    width: 90%;
    padding-left: 2rem;
  }

  .cardActivites {
    width: 90%;
    height: 260px;
  }

  .cardActivites img {
    height: 200px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  .foot h4,
  .foot h4 {
    margin-top: 1rem;
  }
}
