@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

:root {
  --bluePrincipal: #0065fc;
  --blueHover: #deebff;
  --bgSection: #f2f2f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  margin: 1.5rem;
}

/* HEADER */

header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 61.09px;
  height: 19px;
}

header nav ul {
  display: flex;
}

header nav ul li {
  padding-right: 2rem;
}

.description,
.search,
.filtres,
.nbLogements {
  margin-top: 1.5rem;
}

.nbLogements {
  margin-bottom: 1.5rem;
}

.description h2 {
  font-weight: 700;
}

.search {
  display: flex;
}

.search button:nth-of-type(1) {
  border: 1px solid #f2f2f2;
  border-radius: 1.5rem 0 0 1.5rem;
  padding: 1rem;
}

.search input {
  padding: 0.7rem;
  border: 1px solid #f2f2f2;
  font-weight: 700;
}

.search button:nth-of-type(2) {
  background-color: #0065fc;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  color: #ffffff;
  font-weight: 700;
  padding: 1rem;
}

.filtres,
.search {
  margin-top: 1rem;
}

.filtres h3 {
  padding-right: 2rem;
}

.filtres,
.tags {
  display: flex;
  align-items: center;
}

.tags {
  width: 70%;
  justify-content: space-between;
}

.tag {
  display: flex;
  align-items: center;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 1rem;
  font-weight: 700;
}

.tag svg {
  width: 1rem;
}

.tag span {
  padding-left: 0.4rem;
}

/* SECTION */

.container-section {
  display: flex;
}

.container-section section {
  flex: 2;
}

.container-section aside {
  flex: 1;
}

.container-section button {
  font-size: 18px;
  font-weight: 700;
  border: none;
  background-color: #f2f2f2;
}

.container-section section,
.container-section aside {
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 2rem;
}

section {
  margin-right: 30px;
}

.container-section section .card {
  width: 30%;
  background-color: #ffffff;
  border-radius: 2rem;
  padding-bottom: 20px;
  margin-top: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.container-section section .card img {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  border: 5px solid #ffffff;
}

.card .textCard {
  padding-left: 20px;
}

.card .textCard span {
  padding: 5px 0;
  display: block;
}

.section-bloc {
  display: flex;
  justify-content: space-between;
}

.container-section section button {
  margin-top: 2rem;
}

.container-section section button:hover {
  cursor: pointer;
}

/* ASIDE */

.titleAside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPopulaire {
  background: #ffffff;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.12);
}

.cardPopulaire img {
  width: 50%;
  border: 5px solid #ffffff;
  border-radius: 20px 0px 0px 20px;
}

.textCardPopulaire {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.textCardPopulaire span {
  display: block;
  margin-top: 0.4rem;
}

/* SECTION ACTIVITES */

.activites {
  width: 100%;
  margin-top: 2rem;
}

.allCardActivites {
  display: flex;
  justify-content: space-between;
}

.cardActivites {
  height: 360px;
  width: 20%;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 2px 1px 3px rgba(0.12, 0.12, 0.12, 0.12),
    1px 1px 1px 2px rgba(0.12, 0.12, 0.12, 0.12);
}

.cardActivites h3 {
  padding: 1rem;
}

.cardActivites img {
  height: 300px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

@media screen and (max-width: 1000px) {
  .tags {
    width: 100%;
  }

  .container-section {
    display: flex;
    flex-direction: column;
  }

  .container-section section {
    width: 100%;
    margin-bottom: 4rem;
  }

  .bloc-cardPopulaire {
    display: flex;
    justify-content: space-between;
  }

  .cardPopulaire {
    width: 32%;
  }
}

@media screen and (max-width: 769px) {
  .container {
    margin: 0;
    padding: 0;
  }

  header .menu {
    display: flex;
    flex-direction: column;
  }

  nav {
    width: 100%;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 0.3rem solid #f2f2f2;
  }

  header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  header nav ul li {
    font-size: 1.3rem;
  }

  .description {
    width: 85%;
    line-height: 1.8rem;
    text-align: justify;
  }

  .search {
    width: 100%;
  }

  .search input {
    width: 40%;
  }

  .search button:nth-of-type(2) {
    padding: 1rem;
  }

  .container-tel {
    margin: 2rem 1rem;
  }

  .filtres {
    display: flex;
    flex-direction: column;
  }

  .filtres h3 {
    display: flex;
    align-self: flex-start;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .tag {
    font-size: 0.8rem;
    width: 48%;
    padding: 0.8rem;
    margin-top: 1rem;
  }

  .nbLogements {
    margin-top: 2rem;
  }

  .container-section {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0;
  }

  .container-section aside,
  .container-section section {
    border-radius: 0;
    margin: 0;
    padding: 2rem;
  }

  .container-section section {
    background-color: #ffffff;
  }

  .bloc-cardPopulaire {
    display: flex;
    flex-direction: column;
  }

  .cardPopulaire {
    width: 100%;
  }

  .section-bloc {
    display: flex;
    flex-direction: column;
  }

  .container-section section .card {
    margin: 2rem auto;
    width: 100%;
  }

  .container-section section .card img {
    height: 200px;
  }

  .container-section section button {
    display: none;
  }

  .allCardActivites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activites h2 {
    width: 90%;
    padding-left: 2rem;
  }

  .cardActivites {
    width: 90%;
  }
}
